* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Recursive";
    src: url(./fonte/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

.espacolaterais {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

/* Variáveis CSS */
:root {
    --verde-medio: #9CC431;
    --verde-fosco: #9EC867;
    --verde-escuro: #43552C;
    --roxo: #A15BB2;
    --roxo-pixelV: #A15BB2;
    --verde-pixelV: #9CC431;
    --branco: #FFFFFF;
    --fundo-site: #E5E5E5;
    --texto-escuro: #333;
}

/* Estilos Globais do Corpo */
body {
    overflow-x: hidden;
    /* Evita barra de rolagem horizontal indesejada */
    background-color: var(--fundo-site);
    font-family: "Recursive";
    color: var(--texto-escuro);
}

/* ---------------------------menu ----------------------- */

header img {
    width: 253px;
}

header {
    height: 125px;
}

header.espacolaterais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: underline transparent;
}

.banner {
    background-image: url(./img/banner\ principal.png);
    height: 120vh;
    font-size: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cart-icon a {
    color: #FFFFFF;
}

/* -----------------------------------sobre nossos produtos----------------------------------------- */

#card-1 {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #A15BB2;
    text-align: center;

}

#card-2 {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #A15BB2;
    text-align: center;

}

#card-3 {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #A15BB2;
    text-align: center;

}

#card-1 p,
#card-2 p,
#card-3 p {
    font-family: "Recursive", sans-linear;
    font-size: 25px;
}

#card-1 svg,
#card-2 svg {
    height: 50px;
    width: 50px;
}

#card-3 svg {
    height: 60px;
    width: 60px;
}

.quality-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
}

/* ------------------------------------------nossos produtos----------------------------------------- */


#card-01 {
    width: 250px;
    height: 400px;

    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #9EC867;
    padding: 60px 0;
}

#card-02 {
    width: 250px;
    height: 400px;

    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #9EC867;

    padding: 60px 0;
}

.card-02 img {
    width: 10px;
    height: 10px;
}

#card-03 {
    width: 250px;
    height: 400px;

    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #9EC867;
    padding: 60px 0;
}

#card-04 {
    width: 250px;
    height: 400px;

    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #9EC867;
    padding: 60px 0;
}

#card-05 {
    width: 250px;
    height: 400px;

    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #9EC867;
    padding: 60px 0;
}

#card-06 {
    width: 250px;
    height: 400px;

    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;

    background-color: #9EC867;
    padding: 60px 0;
}







.quality-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
}

.product-gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex-wrap: wrap; */

    position: relative;
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 250px;
}

.product-gallery-section {
    position: relative;
    flex-wrap: wrap;
}



/* --------------------------------sobre a ekooby---------------------------------- */

.sobre-imagens {
    display: flex;
}

.sobre-a-ekooby-02 {
    margin-top: 200px;
    margin-bottom: 200px;
}

.sobre-imagens img {
    flex: 0 0 300px;
    border-radius: 20px 20px;
    overflow: hidden;
    width: 300px;
    height: 100%;
}

.header-container-grid img {
    height: 500px;
    width: 500px;
    margin: 0;
}

/* ---------------------------------titulos--------------------------- */

.titulo-produtos h2 {

    font-family: "Recursive", sans-linear-bold;
    font-size: 30px;
    font-weight: 600;

    text-align: center;
    border-radius: 20px;
    background-color: #a15bb276;
    padding: 10px 18px;

    height: 60px;
    width: 400px;
    margin-left: 560px;
    margin-top: 50px;
}

.titulo-verde-01 h2 {
    font-family: "Recursive", sans-linear-bold;
    font-size: 30px;
    font-weight: 600;

    text-align: center;
    border-radius: 20px;

    padding: 10px 18px;

    height: 60px;
    width: 350px;
    /* margin-left: 10px; */
    background-color: #9ec86764;
    margin-top: 50px;
}

.titulo-verde-02 h2 {

    font-family: "Recursive", sans-linear-bold;
    font-size: 30px;
    font-weight: 600;

    text-align: center;
    border-radius: 20px;

    padding: 10px 18px;

    height: 60px;
    width: 350px;
    margin-left: 560px;
    margin-top: 0;
    background-color: #9ec86764;

}

.Feedback-title {
    font-family: "Recursive", sans-linear-bold;
    font-size: 30px;
    font-weight: 600;

    text-align: center;
    border-radius: 20px;
    background-color: #a15bb276;
    padding: 10px 18px;

    height: 60px;
    width: 200px;
    margin-left: 660px;
    margin-top: 60px;

}

.titulo {
    font-family: "Recursive", sans-linear-bold;
    font-size: 10px;
    font-weight: 600;

    text-align: center;
    border-radius: 20px;
    background-color: #a15bb276;
    padding: 10px 18px;

    height: 60px;
    width: 700px;
    margin-left: 440px;
    margin-top: 40px;
}

/* --------------------------- */

.sobre-a-ekooby-02 p {
    margin: 50px 50px;
    font-size: 20px;
    font-family: "Recursive", sans-linear-bold;
}

#banner-compilado img {
    width: 1520px;
    height: auto;

    justify-content: center;
    align-items: center;
}

.imagens-sobre-ekooby {
    flex: 0 0 300px;
    border-radius: 20px 20px;
    overflow: hidden;
}


/* ------------------------------------- Seção de Feedback --------------------------------------- */
.feedback-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f0f6f2;
    padding: 20px;
    border-radius: 12px;
    max-width: 1200px;
    margin: 20px auto;
}

.feedback-card {
    display: flex;
    background: white;
    min-height: 200px;
    width: calc(50% - 15px);
    max-width: 600px;

    border-radius: 15px;

    padding: 20px;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.feedback-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--verde-fosco);
    flex-shrink: 0;
}


.Feedback-title {
    text-align: center;
    margin-bottom: 30px;
}


.feedback-texto h3 {

    font-weight: 700;

    margin: 0;
    color: #2d7a2d;
    font-family: "Recursive", sans-serif;
    /* Usando sans-serif como fallback */
}

.feedback-texto span {
    font-size: 0.85rem;
    color: #777;
}

/* --------------------------------------------- Seção de Benefícios ------------------------------------------------------- */
.beneficios-dos-produtos .titulo {
    text-align: center;
    margin-bottom: 30px;
}

.beneficios-dos-produtos h2 {
    font-size: 40px;
    color: var(--texto-escuro, #333);
    font-family: "Recursive", sans-linear-bold;
}

.faixa-fundo img {
    width: 100%;
    height: auto;
    /* Mantém a proporção */
    display: block;
    margin-bottom: 30px;
}

.beneficios-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.serum,
.body-cream,
.fixador-de-maquiagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 350px;
    flex: 1 1 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card-serum img,
.card-body-cream img,
.card-fixador img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 15px;
}

.faixa-fundo img {
    height: 250px;
    width: 2000px;
}

.product-info ul {

    margin: 20px auto;
    padding: 20px;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 250px;
    border-radius: 40px;
    background-color: #a15bb286;
    box-sizing: border-box;
    color: var(--texto-escuro);
}

.product-info h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--texto-escuro, #333);
}

.product-info h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--texto-escuro, #666);
}

/* --------------------------------------------------------------- */



/* ---------------------------------contato---------------------------------------------- */



.questionnaire-section {
    font-family: "Recursive", sans-linear;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire-header {
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.questionnaire-header h1 {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

.questionnaire-header p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 0;
}

/* Estilos para o Contêiner do Formulário */
.questionnaire-form-container {
    background: linear-gradient(135deg, #E8D0EE, #DCCCEE);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire-form {
    width: 100%;
}


.input-field-wrapper {
    margin-bottom: 20px;
    width: 100%;
}

.questionnaire-form input[type="text"],
.questionnaire-form input[type="email"] {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 12px;
    background-color: #EFEAF0;
    font-size: 1em;
    color: #333;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.questionnaire-form input::placeholder {
    color: #888;
}


.submit-button {
    width: 60%;
    padding: 15px 30px;
    background-color: #EFEAF0;
    color: #555;
    border: none;
    border-radius: 12px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    align-self: center;
    margin-bottom: 20px;
    margin-left: 80px;
}

.submit-button:hover {
    background-color: #dcdcdc;
    /* Um pouco mais escuro ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* Sombra mais pronunciada ao passar o mouse */
}









/* ---------------------------------------------------------------- */

.campo-descricao textarea {
    color: var(--preto);
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;
}


.contato-formulario {
    width: 500px;
    height: 400px;

    margin: 50px;
    padding: 40px 20px;
    border-radius: 40px;
    align-items: center;

    background-color: #a15bb29f;
    padding: 60px 0;
}

/* ------------------------------------------footer------------------------------------ */

.main-footer {
    background-color: #000;
    color: var(--branco);
    padding: 30px 20px;
    font-family: "Recursive", sans-linear;
}


.footer-volte-ao-topo {
    text-align: center;
    padding-bottom: 20px;
}

.footer-volte-ao-topo a {
    color: var(--branco);
    text-decoration: none;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    gap: 5px;

}

.footer-volte-ao-topo a:hover {
    color: var(--roxo-pixelV);
}


.footer-divider {
    border: none;
    border-top: 1px solid #333;
    margin: 20px 0;
}


.footer-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 5%;
    margin-bottom: 30px;
}

.footer-column h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/*------------------------ Redes Sociais------------------------------ */
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 1.5em;
}

.social-icons a {
    color: var(--branco);
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--roxo-pixelV);
}


.footer-links li {
    margin-bottom: 8px;
    /* Espaço entre os itens da lista */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--roxo-pixelV);
}

/*------------------------------------- Fale Conosco-------------------------------------------- */


.whatsapp-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.whatsapp-contact i {
    font-size: 1.2em;
    color: #fff;
}

.whatsapp-contact a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.whatsapp-contact a:hover {
    color: var(--roxo-pixelV);
}

.whatsapp-hours {
    font-size: 0.8em;
    opacity: 0.8;
    margin-top: 0;
}

/* ----------------------------------------Formas de Pagamento------------------------------------------------------------- */
.footer-payment {
    text-align: center;
    padding: 0 5%;
}

.footer-payment h3 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.payment-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.payment-icons img {
    height: 25px;
    width: auto;
    filter: brightness(0) invert(1);
}

/*---------------------------------------- Responsividade Básica------------------------- */


@media screen and (max-width: 1024) {
    .menu a {
        font-size: 20px;
        text-decoration: underline transparent;
    }
}

@media screen {}

.titulo-produtos h2 {
    font-family: "Recursive", sans-linear-bold;
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #a15bb276;
    padding: 10px 18px;
    height: 40px;
    width: 300px;
    margin-left: 15px;
}

@media screen {
    .titulo-verde-01 h2 {
        font-family: "Recursive", sans-linear-bold;
        font-size: 20px;
        font-weight: 10px;
        text-align: center;
        border-radius: 20px;
        padding: 10px 18px;
        height: 40px;
        width: 300px;
        background-color: #9ec86764;
        margin-left: 15px;
    }

}

@media screen {
    .quality-card {
    display: flex
;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
    flex-direction: column;
    margin-left: 5%;
    }
}

@media screen {
    .titulo-verde-02 h2{
    font-family: "Recursive", sans-linear-bold;
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #9ec86764;
    padding: 10px 18px;
    height: 40px;
    width: 300px;
    margin-left: 95px;
    }

}

@media screen {
    .Feedback-title {
        font-family: "Recursive", sans-linear-bold;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    background-color: #a15bb276;
    padding: 10px 18px;
    height: 60px;
    width: 200px;
    margin-left: 60px;
    margin-top: 40px;
    }
}

@media screen {
     #baneer-compilado img{
        height: auto;
    }
    
}

@media (max-width: 1000px) {
    .feedback-card {
        width: calc(100% - 30px);
    }
}

@media (max-width: 768px) {
    .feedback-container {
        padding: 10px;
        gap: 20px;
    }

    .feedback-card {
        flex-direction: column;
      
        height: auto;
      
        text-align: center;
    }


.sobre-imagens {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-top: 50px; 
}


.sobre-a-ekooby-02 p {
    margin: 0; /* Remove margens fixas, o gap do flexbox irá controlar */
    font-size: 20px;
    font-family: "Recursive", sans-linear-bold;
    text-align: justify; 
    max-width: 700px; /* Limita a largura do parágrafo para melhor leitura em telas largas */
    flex: 1 1 auto; 
    min-width: 300px; 
}

@media (max-width: 992px) {
   
    .sobre-a-ekooby-02 p {
        font-size: 18px; 
        max-width: 90%; 
}
}


@media (max-width: 600px) {
    .sobre-a-ekooby-02 {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 0 15px; 
    }
    }

    .titulo-verde-02 {
        font-size: 22px; 
        height: auto; 
        padding: 10px 15px;
        width: 90%; 
        max-width: 280px;
    }

    .sobre-imagens {
        gap: 15px;
    }

    .sobre-imagens img {
        width: 95%; 
        height: auto;
    }

    .sobre-a-ekooby-02 p {
        font-size: 16px; 
        max-width: 100%; 
    }
}



#banner-compilado img {
    width: 1520px; 
    height: auto;
    justify
/* ------------------------------------------------------------------------------------------------------- */




    /* .beneficios-content {
        flex-direction: column;
      
        align-items: center;
    }

    .serum,
    .body-cream,
    .fixador-de-maquiagem {
        max-width: 90%;
      
}
}


@media (max-width: 992px) {
    .cards-container {
     
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 576px) {
    .cards-container {
       
        grid-template-columns: 1fr; 
    }
    .card {
        padding: 15px;
    }
} */ */

/* ------------------------------------------------------------------------------------------------------------- */